footer {
  font-family: 'Fira Mono', 'Open Sans', sans-serif;
  position: absolute;
  text-align: center;
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 20px;
}

footer a {
  color: var(--text-color);
}
