:root {
  --background-color: #333;
  --text-color: #eee;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: 'Open Sans', sans-serif;
}
